node_modules/
/cache
/artifacts
/coverage
/coverage.json
/typechain
/typechain-types
ignition/deployments/chain-31337
.nyc_output

__pycache__/
*.py[cod]
.pytest_cache/
.tox/
.coverage*
build/
dist/
*egg-info/.

.env
.venv/




*.log
.DS_Store

.vscode/
*.code-workspace
